@model WebAdminConsole.Models.Runner

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Runner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewRunner">
            @if (ViewData["Error"] != null)
            {
                <h6 class="text-danger">@ViewData["Error"]</h6>
            }
            @if (ViewData["TeamName"] != null)
            {
                <h6 class="control-label">@ViewData["TeamName"]</h6>
            }
            <input type="hidden" asp-for="TeamId" value=@ViewData["TeamId"] />
            <div class="form-group">
                <label asp-for="BibNumberId" class="control-label"></label>
                <select asp-for="BibNumberId" class="form-control" asp-items="ViewBag.BibNumberId"></select>
            </div>
            <div class="form-group">
                <label asp-for="First" class="control-label"></label>
                <input asp-for="First" class="form-control" />
                <span asp-validation-for="First" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Last" class="control-label"></label>
                <input asp-for="Last" class="form-control" />
                <span asp-validation-for="Last" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ListRunners" asp-route-id="@ViewData["TeamId"]">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
